version: "3"

services:
  backend:
    container_name: backend
    image: yourzinc/healthier-server-dev
    expose:
      - "8080"
    ports:
      - "8080:8080"

  nginx:
    depends_on:
      - backend
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./config/nginx
    ports:
      - "80:80"